@use "partials/estilos-generales";
@use "partials/index";
@use "partials/index-desktop";
@use "partials/preg-frecuentes";
@use "partials/preg-frecuentes-desktop";
@use "partials/local";
@use "partials/local-desktop";
@use "partials/reservas";
@use "partials/reservas-desktop";
@use "partials/contacto";
@use "partials/contacto-desktop";