@use "var-func";


@media (min-width: 1200px) { 

header {

    .bgcolor.scrolled{
        background-color: map-get(var-func.$paleta-colores, fondo );
        
    }
    nav{

        background-color: transparent;

        div{
            a{
                background-color: map-get(var-func.$paleta-colores, main-color );
                border-radius: 10px 100px / 120px;;
                padding: 5px 10px;
                
                h1{
                    margin-left: 0;
                }
            }
        }

        div{

            .navbar-nav{

                a{
                    color: map-get(var-func.$paleta-colores, main-color );
                    font-size: 2rem;
                    margin: 0 20px;
                    text-transform: uppercase;
                    
                }

            }
        }

        div{
            ul{
                .nav-link{

                 &:hover{
                    color: map-get(var-func.$paleta-colores, second-color );
                    transition: .7s;
                 }
                 
                }
            }
        }

        
    }
}

main {

    .eslogan{
        .dp-none{
            display: block;
        }        

        @include var-func.flex-box(column,center,flex-start);
        margin: 0;
        height: 100vh;

        .texto{

            @include var-func.flex-box(column,center,center);
            margin-left: 40px;
    
            .dp-none{

                p{
                    font-size: 2.4rem;
                    color: map-get(var-func.$paleta-colores, fondo );
                    width: 551px;
                    text-align: center;
                }
            }

            h2{
                font-size: 10rem;
            }

            .every{
                font-size: 11.3rem;
            }
            
            a{
                .boton{
                    margin-top: 30px;
                }
            }
        }
        img{
            height: 500px;
            width: 500px;
        }
    }


    .queEsAmorNails{
        @include var-func.flex-box(row,space-around,center);

        .texto{
            margin-left: 200px;
            height: 600px;
            

            h3{
                font-size: 3rem;
            }

            p{
                font-size: 2.5rem;
            }
        }

        
            
        img{
            margin-right: 200px;
            height: 500px;
            width: 500px;
        }
        
    }

}

}

