@use "var-func";

.formulario{
    
    background-image: url(../img/fondo-pages.jpg);
    @include var-func.bg-image;
    @include var-func.flex-box(column,center,center);
    height: 100vh;

    p{
        width: 80%;
        font-size: 1.5rem;
        background-color: map-get(var-func.$paleta-colores, second-color );
        border-radius: 20px;
        padding: 10px 20px;
        color: map-get(var-func.$paleta-colores, fondo );
        font-weight: bold;
        
    }

    .form_reserva{
        width: 80%;
        margin-bottom: 50px;
    }

    .dp-none{
        display: none;
    }

    h1{
        padding-top: 100px;
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold; 
        color: map-get(var-func.$paleta-colores, second-color );
    }

}